body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: linear-gradient(to bottom, #fdfdfd, #f0f0f5);
    color: #222;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

body > * {
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
    color: #111;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.05);
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #111;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

p {
    margin-bottom: 1em;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 0.5em;
}

a {
    color: #1a73e8;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease;
}

a::after {
    content: '';
    display: block;
    height: 2px;
    background: #1a73e8;
    width: 0;
    transition: width 0.3s;
}

a:hover {
    color: #155ab6;
}

a:hover::after {
    width: 100%;
}

p a {
    margin-right: 15px;
    font-weight: bold;
}
